<div class="weather-container">
    <mat-card>
        <div class="weather-card-header">
            <h1>24 Hour Weather Forecast</h1>
            <div *ngIf="location != null; else noData">
                <h3>by location</h3>
                <h3>{{location.city}}</h3>
                <h3>{{location.formattedDate}}</h3>
                <div class="weather-content">
                    <div
                        *ngIf="twoHrWeather == 'Light Rain' || twoHrWeather == 'Light Showers' || twoHrWeather == 'Showers'">
                        <img src="../../../assets/images/light-rain.png">
                    </div>
                    <div *ngIf="twoHrWeather == 'Sunny' || twoHrWeather == 'Clear'">
                        <img src="../../../assets/images/sunny (1).png">
                    </div>
                    <div *ngIf="twoHrWeather == 'Moderate Rain'">
                        <img src="../../../assets/images/light-rain.png">
                    </div>
                    <div
                        *ngIf="twoHrWeather == 'Heavy Rain' || twoHrWeather == 'Heavy Thundery Showers with Gusty Winds'">
                        <img src="../../../assets/images/storm.png">
                    </div>
                    <div *ngIf="twoHrWeather == 'Partly Cloudy (Day)'">
                        <img src="../../../assets/images/cloudy.png">
                    </div>
                    <div *ngIf="twoHrWeather == 'Partly Cloudy (Night)'">
                        <img src="../../../assets/images/cloudy-night.png">
                    </div>
                    <div *ngIf="twoHrWeather == 'Windy'">
                        <img src="../../../assets/images/windy.png">
                    </div>
                    <div *ngIf="twoHrWeather == 'Cloudy'">
                        <img src="../../../assets/images/clouds.png">
                    </div>

                    <h3>{{twoHrWeather}}</h3>
                </div>
            </div>
            <ng-template #noData>
                <h3>Data not available</h3>
                <div class="weather-content">
                    <img mat-card-image class="no-data-img" src="../../../assets/images/not-found.png">
                </div>
            </ng-template>


        </div>
    </mat-card>
</div>