<div class="main-container">
    <h1>Meteor App</h1>
    <app-input (onSubmitDateTime)="propagateDateTime($event)"></app-input>
    <div class="row">
        <div class="col-md-6 col-s-12">
            <app-location-list [selectedDateTime]="selectedDateTime.asObservable()"
                (onSubmitLocation)="propagateLocation($event)"></app-location-list>
        </div>
        <div class="col-md-3 col-s-6">
            <app-image [selectedLocation]="selectedLocation.asObservable()"></app-image>
        </div>
        <div class="col-md-3 col-s-6">
            <app-weather [selectedLocation]="selectedLocation.asObservable()"></app-weather>
        </div>
    </div>


</div>